.container {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  max-width: 500px;
  margin: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.text {
  background-color: #f1f1f1f1;
  padding: 20px;
  border-radius: 5px;
}

body {
  margin: 0px;
  background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);
}

.link {
  color: #4c4c4c;
  transition: color 0.25s ease-in;
}

.link:hover {
  color: #cccccc;
}
