.container {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  max-width: 500px;
  margin: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

body {
  margin: 0px;
}

.link {
  color: #4c4c4c;
}

.link:hover {
  color: #cccccc;
}

.img {
  width: 290px;
}
